{% extends "base.html" %}
{% load i18n staticfiles mezzanine_tags blog_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title_wrapper%}
{% endblock %}
{% block all_content %}
{% block left_wrapper%}
{% endblock %}

{% block main_wrapper%}

{% endblock %}

{% block right_wrapper%}
{% endblock %}
<!-- *****************************************************************************************************************
	 HEADERWRAP
	 ***************************************************************************************************************** -->
	<div id="headerwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>TaNPUD, Tanzania Network for People who Use Drugs</h1>
                    <h3>{% trans "Support, Don't Punish" %}</h3>			
				</div>
				<div class="col-lg-8 col-lg-offset-2 himg">
				</div>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /headerwrap -->

	<!-- *****************************************************************************************************************
	 SERVICE LOGOS
	 ***************************************************************************************************************** -->
	 <div id="service">
	 	<div class="container">
 			<div class="row centered">
 				<div class="col-md-4">
 					<i class="fa fa-users"></i>
 					<h4>TaNPUD</h4>
 					<p>
                        {% blocktrans%}TaNPUD was found on 2011 with only few people who were drug users with an aim of advocating for their rights.{% endblocktrans %}
                    </p>
                    <p>
                        {% blocktrans %}The organization has now grown up into being a National Network for people who use drugs in Tanzania.{% endblocktrans %}
                    </p>
 					<p><br/><a href="/about" class="btn btn-theme">{% trans "More Info" %}</a></p>
 				</div>
 				<div class="col-md-4">
 					<i class="fa fa-volume-up"></i>
 					<h4>{% trans "Advocacy" %}</h4>
 					<p>
                        {% blocktrans %}The main focus of TaNPUD’s work is advocating for the rights to health and legal affairs of people who use drugs.{% endblocktrans %}
                    </p>
 					<p>
                        {% blocktrans %}TaNPUD hase been rising the voices of drug users in the national planning and decision making.{% endblocktrans %}
                    </p>
 					<p><br/><a href="#" class="btn btn-theme">{% trans "More Info" %}</a></p>
 				</div>
 				<div class="col-md-4">
 					<i class="fa fa-forward"></i>
 					<h4>{% trans "Support & Empowerment" %}</h4>
                    <p>
                        {% blocktrans %}TaNPUD aims to empower people who use drugs to participate in community development and become more involved in planning and decision making that affects them.{% endblocktrans %}
                    </p>
                    <p>
                        {% blocktrans %}TaNPUD is here to support drug users in knowing their rights and getting the right to be treated well.{% endblocktrans %}
                    </p>
 					<p><br/><a href="/about" class="btn btn-theme">{% trans "More Info" %}</a></p>
 				</div>		 				
	 		</div>
	 	</div><!--/container -->
	 </div><!--/service -->
{% endblock %}
